<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-tab-button">
    <ion-tab-button tab="characters">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Characters</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="episodes">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Episodes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="quotes">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      <ion-label>Quotes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="deaths">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>Death Count</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
